<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@latest"></script>
    <script src="https://unpkg.com/htmx.org@latest/dist/ext/sse.js"></script>
    <title>{{ .title }}</title>
  </head>
  <body>
    <main class="container">
      <h1>{{ .title }}</h1>
      <p>There is currently {{ .roomCount }} open room{{ .roomCount | plural }}.</p>
      <button hx-post="/room/new" hx-swap="none">New Room</button>
      <div hx-ext="sse" sse-connect="/stream/global">
        <div hx-get="/room/list" hx-trigger="sse:rooms">
          {{ template "index/list" .}}
        </div>
      </div>
    </main>
  </body>
</html>