---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game/Game.svelte';
---

<Layout title="Random player room.">
    <main>
        <Game client:load/>
    </main>
</Layout>